.pageTitle {
    color: #f4e618;
    font-weight: bold;
    padding: 10px;
    width: 25%;
    margin: 0px auto;
    
}

hr {
    color: white;
}

html,
body {
    height: 100%;
}

#content {
    height: auto;
    min-height: 100%;
    background-color: #343a40;
}




/* Style for the GridView Container */
.scheduleGridViewContainer {
    width: 55%;
    margin: 0 auto;
    float: left;
    padding-left:5%;
    /*padding-top:3em;*/
}

.scheduleDetailsContainer {
    width: 35%;
    margin: 0 auto;
    /*margin-top:50px;*/
    float: right;
    padding-right: 5%;
    /*padding-top: 3em;*/
    /*background-color: black;*/
    /*height:100%;*/
    /*border-radius: 10px;*/
}


#main_ddlMovieID, #main_ddlHall, #main_txtScheduleTime, #main_txtScheduleDate, #ddlMovieID, #ddlHall, #txtScheduleTime, #txtScheduleDate {
    border-radius: 0;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
}


.bg-dark.rounded-4.text-white.mb-2 {
    height: 500px;
}