body {
    vertical-align: middle;
}

.Menubackgound {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    background-color: lightyellow;
    width: 100%;
    margin: 5px auto;
    height: 500px;
    border-radius: 20px;
}

.card-header {
    height: 10%;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: larger;
    background-color: yellow;
}

.image-box {
    height: 55%;
    position: relative;
    display: inline-block;
    align-content: center;
    width: 100%;
    overflow: hidden;
}

.card-img-top {
    align-content: start;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.textInImage {
    position: absolute;
    z-index: 999;
    top: 90%;
    bottom: 0%;
    text-align: right;
    padding-right: 5%;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: yellow;
    text-shadow: 1px 1px 2px black;
}

.card-body {
    height: 35%;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: large;
    color: black;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.divPrice {
    text-align: left;
    width: 45%;
    float: left;
    font-size: 20px;
    padding-right: 5px;
}

.divRemarks {
    text-align: right;
    width: 45%;
    float: right;
    padding-left: 5px;
}

.card-footer {
    background-color: yellow;
    height: 50px;
}

.Qty {
    width: 15%;
}

.btn_add_to_cart {
    vertical-align: central;
    margin: auto;
    width: 80%;
    height: 100%;
    float: right;
    background-color: yellow;
    color: black;
    border: 1px solid black;
}

    .btn_add_to_cart:hover {
        font-weight: bolder;
        background-color: black;
        color: yellow;
        border: 1px solid yellow;
        transition-delay: 0.1s;
        transition-duration: 0.5s;
    }

/* food management */
.containerLeft {
    padding-right: 2px;
    width: 50%;
    height: 100%;
    vertical-align: top;
    justify-content: start;
    display: table-cell;
    margin: 30px auto 0px auto;
}

.containerRight {
    margin-top: 30px;
    vertical-align: top;
    width: 50%;
    display: table-cell;
    border: 1px yellow solid;
}

.GVmenu {
    width: 100%;
}

.uploadbtn {
    color: white;
}

    .uploadbtn::target-text {
        visibility: hidden;
    }

    .uploadbtn::file-selector-button {
        background-color: yellow;
        color: black;
        border: 1px solid black;
    }

.actionBar {
    margin: 0px auto 5px auto;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionButton {
    margin: auto;
    width: 25%;
    margin: auto;
    height: 100%;
    background-color: yellow;
    color: black;
    border: 1px solid black;
}

    .actionButton:hover, .uploadbtn::file-selector-button:hover {
        background-color: inherit;
        color: yellow;
        border: 1px solid yellow;
        transition-delay: 0.1s;
        transition-duration: 0.5s;
    }

h3 {
    height: 32px;
    width: 100%;
    line-height: 1.9em;
    font-size: 20px;
    color: yellow;
    background-color: black;
    text-align: center;
}

.containerRight .form-floating {
    color: white;
}

    .containerRight .form-floating:before {
        display: none;
    }

.containerRight .form-control {
    background: inherit;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

    .containerRight .form-control:focus {
        background: inherit;
        box-shadow: none;
        border: none;
        border-bottom: 2px solid yellow;
        color: white;
    }

/* cart */
#Cartbackground {
    width: 75%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.cartItem {
    color: black;
    background-color: white;
}


    .cartItem:nth-child(even) {
        background-color: lightyellow;
    }

#Cartbackground h1 {
    padding-top: 50px;
    color: yellow;
    font-weight: bolder;
}

.cart-image-box {
    margin: auto;
    padding: 0px;
    border: 2px black solid;
}

.btn_proceed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    margin: 25px auto 15px;
    border-radius: 15px;
    border: 1px solid yellow;
    background-color: inherit;
    color: yellow;
}

    .btn_proceed:hover {
        border: 1px solid black;
        background-color: yellow;
        color: black;
        font-weight: 500;
    }

#Cartbackground .btnMinus, #Cartbackground .btnAdd {
    width: 30px;
    background-color: antiquewhite;
    border: 0px solid black;
    border-radius: 20px;
    color: black;
    margin: 0px auto;
}

/*Report*/
#reportContainer {
    background-color: inherit;
    color: yellow;
    padding: 0px;
    height: 80%;
}

    #reportContainer ul {
        border: none;
    }

.reportsetting {
    margin: auto;
    justify-content: center;
    padding: 25px 0px;
    width: 70%;
    color: white;
}

#reportContainer .form-floating {
    color: white;
    width: 42%;
}

    #reportContainer .form-floating:before {
        display: none;
        width: 42%;
    }

#reportContainer .form-control {
    background: inherit;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

    #reportContainer .form-control:focus {
        background: inherit;
        box-shadow: none;
        border: none;
        border-bottom: 2px solid yellow;
        color: white;
    }

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) sepia(100%) hue-rotate(180deg) brightness(1000%);
}


input[type="number"]::-webkit-inner-spin-button {
    filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(305deg) brightness(103%) contrast(103%);
}

.foodreport {
    margin: 10px auto 0 auto;
}
