<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
	<customErrors mode="On" defaultRedirect="/ErrorPages/FileNotFound(Customer).aspx">
		<error statusCode="404" redirect="../ErrorPages/FileNotFound(Customer).aspx"/>
	</customErrors>
  </system.web>
</configuration>
