<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Manager"/>
      <deny users="*"/>
    </authorization>
	  <customErrors mode="On" defaultRedirect="../ErrorPages/FileNotFound(Staff).aspx">
		  <error statusCode="404" redirect="../ErrorPages/FileNotFound(Staff).aspx"/>
	  </customErrors>
  </system.web>
</configuration>
